body {
    background-color: rgb(52, 55, 56);
    width: 130px;
    height: 130px;

  }
 #box{
  border-radius: 10px;
 }
 #count{
  font-size: 30px;
  color: white;
  left: 42%;
  position: fixed;
  top: 46px;
 }
  h2 {
    color: white;
    text-align: center;
  }
  
  button {
    font-family: verdana;
    font-size: 10px;
    color: black;
    background-color:rgb(247, 210, 242);
    border-radius: 10px;
    width: 100px;
    height: 50px;
    left: 15%;
    position: fixed;
    top: 95px;
  }
 
